:root {
	--vp-font-family-base: "阿里巴巴普惠体 3.0", "HarmonyOS Sans SC", "霞鹜文楷 GB", "Inter", ui-sans-serif, system-ui,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* 行内代码、代码块字体 */
	--vp-font-family-mono: "Jetbrains Mono", "Fira Code", "HarmonyOS Sans SC", "PingFang SC", "Menlo", "Monaco",
		"Consolas", "Liberation Mono", "Courier New", monospace;
	font-optical-sizing: auto;
}
