/* 链接图标 */
.vp-doc a[href^="http://"]:before,
.vp-doc a[href^="https://"]:before
{
	content: "";
	background-image: url(../../svg/default.svg);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background-size: cover;
	margin-right: 4px;
}

/* YouTube */
.vp-doc a[href^="https://www.youtube.com/"]:before
{
	background-image: url(../../svg/youtube.svg);
}

/* 哔哩哔哩 */
.vp-doc a[href^="https://www.bilibili.com/"]:before
{
	content: "";
	background-image: url(../../svg/bilibili.svg);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background-size: cover;
	/* top: -2px; */
	margin-right: 4px;
}
